.top_div {
  background: linear-gradient(266.31deg, #ffc107 1.1%, #ffa8a7 100%);
  padding: 40px 0px 40px 0px;
}
.h1_top_text {
  text-align: center;
  font-family: "Montserrat";
  font-weight: 600;
  font-size: 32.9724px;
  color: #000000;
}

.find_book_text {
  font-weight: 600;
  font-size: 28px;
  text-align: center;
  font-family: "Montserrat";
  color: #000000;
}

.location_button {
  padding: 8px 60px 8px 60px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 4px 0px 0px 4px;
  background-color: #ffffff;
}

.seaech_Image {
  background-color: #ffffff;
}
.search_div {
  padding: 8px 10px 8px 10px;
  background-color: #ffffff;
}

.search_inpute {
  padding: 8px 10px 8px 10px;
  background-color: #ffffff;
  border-width: 0px;
  border-radius: 0px 4px 4px 0px;
  width: 400px;
}

.read_more_button {
  background: #14bef0;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.25);
  border-radius: 3px;
  border-width: 0px;
  width: 174px;
  height: 44px;
  margin-left: 15px;
}

.read_more_text {
  font-weight: 600;
  font-size: 16px;
  color: #ffffff;
  font-family: "Montserrat";
}

.image_background_div {
  background: #ffffff;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
  justify-content: center;
  align-items: center;
  display: flex;
  padding: 17px 0px 5px 15px;
  margin: 0px 90px 10px 90px;
}

.saftey_image_text1 {
  font-weight: 500;
  font-size: 25px;
  font-family: "Montserrat";
  color: #000000;
  text-align: center;
}

.saftey_image_text2 {
  font-weight: 600;
  font-size: 16px;
  color: #000000;
  opacity: 0.7;
  text-align: center;
  margin-top: -20px;
  font-family: "Montserrat";
}

.box_div {
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
  border-radius: 12px;
  width: 270px;
  height: 94px;
  margin-right: 10px;
}
.Consult_now {
  background: #14bef0;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.25);
  border-radius: 3px;
  border-width: 0px;
  width: 172px;
  height: 44px;
  margin-left: 15px;
}

.read_health_articale {
  font-weight: 500;
  font-size: 28px;
  color: #000000;
  font-family: "Montserrat";
  text-align: center;
}

.read_articale_div {
  background: #ffffff;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
  border-radius: 12px;
  /* margin-top: -10px; */
  width: 370px;
}

.read_article_text {
  font-weight: 500;
  font-size: 20px;
  font-family: "Montserrat";
  color: #000000;
  margin: 50px 0px 0px 30px;
}

.read_article_text2 {
  font-weight: 500;
  font-size: 14px;
  font-family: "Montserrat";
  color: #000000;
  margin: 10px 0px 0px 50px;
  opacity: 0.7;
}

.health_expert_text1 {
  font-weight: 500;
  font-size: 28px;
  font-family: "Inter";
  color: #000000;
  margin-top: 40px;
}

.health_expert_text2 {
  font-weight: 500;
  font-size: 20px;
  font-family: "Inter";
  color: #000000;
  margin-top: -5px;
  opacity: 0.5;
}

.view_all_button {
  background: linear-gradient(266.31deg, #ffc107 1.1%, #ffa8a7 100%), #d9d9d9;
  border-radius: 12px;
  border-width: 0px;
  width: 270px;
  padding: 15px 0px 15px 0px;
  margin-left: 10px;
}

.view_all_text {
  font-weight: 500;
  font-size: 20px;
  color: #000000;
  font-family: "Montserrat";
}

.check_item1 {
  font-weight: 500;
  font-size: 22.1024px;
  color: #000000;
  font-family: "Montserrat";
  margin: 10px 10px 10px 15px;
  opacity: 0.5;
}
