.main_div {
  width: 100vmax;
}

.header_of_login {
  height: 70px;
  background: #ffffff;
  /* box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.12), 0px 2px 4px rgba(0, 0, 0, 0.12); */
}
.header_image_div {
  padding: 10px 10px 0px 150px;
}

.searchbar_inpute {
  background: #ffffff;
  border: none;
  border-radius: 5px;
  font-family: "Montserrat";
}
.inpute_box_div {
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.2);
  padding: 5px;
  border-radius: 5px;
}

.searchbar_img {
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 2px;
}

.viewcard_button_div {
  background: #14bef0;
  padding: 8px;
  width: 190px;
  border-radius: 5px;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.25);
  border: 0px solid #14bef0;
  float: right;
}

.border_hr {
  background: #ffffff;
  box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.12), 0px 2px 4px rgba(0, 0, 0, 0.12);
}

.viewCars_text {
  padding-left: 20px;

  /* paddingLeft: 20, */
  color: #ffffff;
  font-family: "Montserrat";
}

@media only screen and (max-width: 600px) {
  .header_of_login {
    height: 60px;
    width: 100vmax;
    background: #ffffff;
    /* box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.12), 0px 2px 4px rgba(0, 0, 0, 0.12); */
  }

  .header_image_div {
    padding: 10px 10px 0px 80px;
  }
  .inpute_box_div {
    background: #ffffff;
    border: 1px solid rgba(0, 0, 0, 0.2);
    padding: 5px;
    border-radius: 5px;
    margin: 0px 0px 0px 50px;
  }
}
